:root {
    --main-color: #EED198;
    --second-color: #F8DDAE;
    --font-main: 'Arial', sans-serif;
    --button-color: #FFEDCB;
    --second-font-color: #241913;
    --price-color: #FF3850;
}

.menu div:nth-child(2) {
    margin-top: -5px;
    min-width: 100px;
    font-size: 20px;
    font-weight: 100;
}

.menu div:nth-child(4) {
    margin-top: -5px;
    min-width: 100px;
    font-size: 20px;
    font-weight: bold;
}

h2 {
    margin-top: 34px;
    white-space: nowrap;
    font-size: 70px;
}

.checkupCardsBox {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 22px
}

.checkUpPriceCard {
    display: flex;
    flex-direction: column;
    background-color: var(--second-color);
    border-radius: 14px;
    gap: 15px;
    padding-left: 28px;
    padding-top: 28px;
    overflow: hidden;
}

.priceTitle {
    font-size: 25px;

}

.priceInfo {
    font-size: 15px;
}

.priceCount {
    font-size: 30px;
    font-family: 'Benzin-Bold';
    color: var(--price-color);
}

.petPriceImage {
    display: flex;
    justify-content: flex-end;
}