:root {
    --main-color: #EED198;
    --second-color: #F8DDAE;
    --font-main: 'Arial', sans-serif;
    --button-color: #FFEDCB;
    --second-font-color: #241913;
}


header {
    height: auto;
}


.header1 {
    padding-top: 50px;
    display: flex;
    height: 270px;
    background-color: var(--main-color);
    padding-left: 325px;
    padding-right: 325px;
    text-decoration: none;
}

.header1 a {
    all: unset;
    cursor: default;
}

.menu a:hover {
    color: gray;
}

h2 {
    font-family: 'Benzin-Bold';
    color: #241913;
    font-size: 60px;
    margin: 0;
    padding: 0;
    max-width: 120px;
    line-height: 93px;
}

.leftHeader1 {
    flex: 1004;
    display: flex;
    flex-direction: column;
}

.rightHeader1 {
    display: flex;
    flex-direction: column;
    flex: 266;
}

.socialMedias {
    flex: 1;
    display: flex;
    gap: 7px
}

.socialMedias>div {
    flex: 1;
    aspect-ratio: 1 / 1;
    max-width: 59px;
    max-height: 59px;
    border: 1px black solid;
    border-radius: 50%;
    max-height: 59px;
    background-repeat: no-repeat;
    background-position: center;
}

.socialMedias > div {
    position: relative;
}
.socialMedias > div a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.telegram {
    background-image: url('../images/Telegram.png');
}

.viber {
    background-image: url('../images/whatsapp-128-svgrepo-com\ 2.png');
}

.avito {
    background-image: url('../images/avito.png');
}

.gmail {
    background-image: url('../images/gmail.png');
}

.phoneNumber {
    flex: 1.8;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.number {
    border: 1px black solid;
    border-radius: 20px;
    height: 45px;
    width: 195px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.menu {
    display: flex;
    flex: 1;
    flex-direction: row;
    font-size: 16px;
    gap: 26px;
    margin-top: 112px;
    color: #241913;
}

.menu div:nth-child(2) {
    margin-top: -5px;
    min-width: 100px;
    font-size: 20px;
    font-weight: bold;
}

.firstLogo {
    flex: 1;
    font-family: 'Benzin-Bold';
    color: #241913;
    font-size: 80px;
}

.header2 {
    display: grid;
    grid-template-columns: 1004fr 416fr;
    padding-left: 325px;
    padding-right: 325px;
    height: 402px;
    background-color: var(--second-color);
    position: relative;
    overflow: visible;
}

.leftHeader2 {
    position: relative;
    z-index: 1;
}

.rigthHeader2 {
    position: relative;
    display: flex;
    flex-direction: column;
}

.catDogWrapper {
    position: absolute;
    display: flex;
    transform: translateY(-37px);
    align-items: flex-start;
}

.catDogImage {
    height: 100%;
    width: auto;
    object-fit: contain;
    display: block;
}

.secondLogo {
    flex: 1;
    font-size: 80px;
    font-family: 'Benzin-Bold';
}

.buttonAndAbout {
    display: flex;
    margin-top: 1.9%;
    flex: 1;
}

.buttonMakeAppo {
    display: flex;
    min-width: 200px;
    min-height: 62px;
    background-color: var(--button-color);
    align-items: center;
    justify-content: center;
}

.about {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: auto auto;
    font-size: 13px;
}

.play {
    grid-row: span 2;
    background-image: url('../images/play.png');
    background-repeat: no-repeat;
    background-position: center;
}

.aboutText {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.aboutTime {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: gray;
}

.achievements {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1.18ыfr 1fr;
    max-width: 541px;
    gap: 0px 34px;
}

.achievements div:nth-child(-n+3) {
    font-size: 30px;
    font-family: 'Benzin-Bold';
    display: flex;
    align-items: flex-end;
}

.achievements div:nth-last-child(-n+3) {
    display: flex;
    font-size: 12px;
    color: var(--second-font-color);
}


main {
    background-color: var(--main-color);
    padding-left: 325px;
    padding-right: 325px;
    padding-top: 70px;
}

.photoAndInfoCenter {
    display: grid;
    grid-template-columns: 1.8fr 1fr;
    grid-template-rows: 2fr 5.2fr 1fr;
    gap: 37px 33px;
}

.photoAndInfoName {
    display: flex;
    font-family: 'Benzin-Bold';
    font-size: 60px;
    grid-column: span 2;
    align-items: flex-end;
}

.photoCenter {
    grid-row: span 2;
    border-radius: 14px;
    background-image: url('../images/centerPhoto.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 800px;
}

.infoCenter {
    font-size: 15px;
    line-height: 1.6;
}

.centerButton {
    display: flex;
    max-width: 200px;
    min-height: 62px;
    background-color: var(--button-color);
    align-items: center;
    justify-content: center;
}

.switchImage {
    display: flex;
    height: 100%;
    margin: -18px;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
    align-self: start;
}

.switchImage div:nth-child(-n+3) {
    height: 7px;
    width: 77px;
    border-radius: 83px;
    background-color: var(--button-color);
}

.switchImage div:nth-child(-n+3):hover {
    background-color: var(--second-color);
}

.departmentsText {
    margin-top: 115px;
}

.departmentsBox {
    margin-top: 33px;
    display: flex;
    flex-direction: row;
    gap: 33px
}

.departmentLocation {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 14px;
}

.mainDepartment {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: var(--button-color);
    max-height: 129px;
    overflow: hidden;
    border-radius: 13px;
    padding: 14px;
    gap: 22px
}

.numberAndTime {
    display: flex;
    font-size: 11px;
    gap: 62px
}

.departName {
    font-size: 17px;
    font-weight: bold;
}

.adress {
    font-size: 14px;
    font-weight: 600;
}

.mapButtons {
    display: flex;
    flex-direction: row;
    gap: 25px
}

.mapButtons div:nth-child(-n+2) {
    display: flex;
    flex: 1;
    background-color: var(--button-color);
    min-height: 45px;
    border-radius: 13px;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
}

.history {
    margin-top: 115px;
}

.historyBox {
    display: flex;
    flex-direction: row;
    gap: 82px
}

.historyTextAndButton {
    margin-top: 3px;
    flex: 614;
    max-width: 615px;
    line-height: 32px;
}

.historyButton {
    display: flex;
    background-color: var(--button-color);
    max-width: 200px;
    height: 62px;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.petsCard {
    margin-top: -20px;
    display: flex;
    flex-direction: column;
    flex: 590;
    padding-top: 7px;
    padding-left: 40px;
    min-width: 0;
    max-width: 600;
    background-color: var(--button-color);
}

.petsTitle {
    font-size: 40px;
}

.petsText {
    font-size: 14px;
    margin-top: 8px;
    line-height: 24px;
    max-width: 391px;
}

.grayCatImage {
    display: flex;
    height: 100%;
    justify-content: flex-end;
    align-items: flex-end;
}

.services {
    margin-top: 105px;
}

.servicesCards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 21px;
    margin-top: 41px;

}

.card {
    display: flex;
    background-color: var(--button-color);
    max-height: 422px;
    height: 422px;
    border-radius: 19px;
    padding: 29px 12px 6px 29px;

}

.titleAndPhoto {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 55px;
}

.cardTitle {
    flex: 2;
    font-size: 22px;
    font-weight: bold;
}

.cardMore {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: flex-end;
}

.specialistsBox {
    margin-top: 84px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 47px;
    position: relative;
  
}

.specialists {
    margin-top: 202px;
}

.specialistsBox .specialist:first-child {
    transform: translateX(900px);
}

.moreSpecialistsButton {
    display: flex;
    flex-direction: row;
    background-color: var(--button-color);
    font-size: 15px;
    width: 258px;
    height: 62px;
    justify-content: center;
    align-items: center;
    margin-top: 22px;
}

.specialist {
    position: absolute;
    background-color: var(--button-color);
    border-radius: 22px;
    max-width: 853px;
    height: 207px;
    display: flex;
    padding-left: 35px;
    padding-top: 46px;
    padding-right: 40px;
}

.photo {
    flex: 1.07;
}

.nameAndDescription {
    display: flex;
    flex-direction: column;
    flex: 4;
}

.specialistName {
    flex: 1;
    margin-top: -2px;
    font-size: 35px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1;
}

.specialistDescription {
    margin-top: 12px;
    flex: 4;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    display: flex;
    margin-top: 410px;
    height: 380px;
    font-size: 14px;
    background-color: var(--second-color);
    padding-top: 56px;
    padding-left: 325px;
    padding-right: 325px;
}

footer section:nth-child(1) {
    display: flex;
    flex: 410;
    flex-direction: column;
}

.logoText {
    font-size: 30px;
    font-weight: bold;
}

.slogan {
    font-weight: 30px;
    margin-top: 40px;
}

.telegramAndWatsap div:nth-child(-n+2) {
    max-width: 37px;
    max-height: 35px;
    background-repeat: no-repeat;
}

.telegramAndWatsap {
    margin-top: 65px;
    display: flex;
    flex-direction: row;
    gap: 26px;
}

footer section:nth-child(2) {
    margin-top: 48px;
    display: flex;
    flex: 300;
    flex-direction: column;
}

footer ul {
    list-style: none;
}

footer li {
    margin-bottom: 13px;
}

footer section:nth-child(3) {
    margin-top: 48px;
    display: flex;
    flex: 230;
    flex-direction: column;
}

footer section:nth-child(4) {
    margin-top: 48px;
    display: flex;
    flex: 272;
    flex-direction: column;
    align-items: flex-end;
}

.numberButton {
    display: flex;
    min-width: 200px;
    min-height: 47px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    margin-top: 13px;
}

.mailButton {
    display: flex;
    min-width: 200px;
    min-height: 47px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    margin-top: 12px;

}

.question {
    margin-top: 12px;
}

.rightHeader1 {
    min-width: 200px; 
}

.socialMedias {
    flex-wrap: wrap;      
    justify-content: flex-end;
    gap: 7px;
}

.socialMedias > div {
    flex: 0 0 auto;       
    width: 59px;
    height: 59px;
}

.phoneNumber {
    flex-wrap: wrap;
    justify-content: flex-end;
}

.number {
    white-space: nowrap;
}

@media (max-width: 1200px) {
    .socialMedias > div {
        width: 45px;
        height: 45px;
        background-size: 60%;
    }

    
}

@media (max-width: 1919px) {

    .departmentLocation {
        width: 800px;
    }


    .numberAndTime {
        display: none;
    }

    .mainDepartment {
        align-items: center;
    }

    .servicesCards {
        grid-template-columns: repeat(2, 1fr);
    }

    /* .photoAndInfoName {
        grid-column: span 2;
        justify-content: center; 
    } */
    
}

@media (max-width: 1600px) {
    .socialMedias {
        display:none;
    }

    .number {
        display: none;
    }

    main {
        padding-left: 20px;
        padding-right: 20px;
    }
}

