:root {
    --main-color: #EED198;
    --second-color: #F8DDAE;
    --font-main: 'Arial', sans-serif;
    --button-color: #FFEDCB;
    --second-font-color: #241913;
}


header {
    height: auto;
}


.header1 {
    padding-top: 50px;
    display: flex;
    height: 270px;
    background-color: var(--main-color);
    padding-left: 325px;
    padding-right: 325px;
}

h2 {
    font-family: 'Benzin-Bold';
    color: #241913;
    font-size: 60px;
    margin:0;
    padding: 0;
}

.leftHeader1 {
    flex: 1004;
    display: flex;
    flex-direction: column;
}

.rightHeader1 {
    display: flex;
    flex-direction: column;
    flex: 266;
}

.socialMedias {
    flex: 1;
    display: flex;
    gap: 7px
}

.socialMedias>div {
    flex: 1;
    aspect-ratio: 1 / 1;
    max-width: 59px;
    max-height: 59px;
    border: 1px black solid;
    border-radius: 50%;
    max-height: 59px;
    background-repeat: no-repeat;
    background-position: center;
}

.telegram {
    background-image: url('../images/Telegram.png');
}

.viber {
    background-image: url('../images/whatsapp-128-svgrepo-com\ 2.png');
}

.avito {
    background-image: url('../images/avito.png');
}

.gmail {
    background-image: url('../images/gmail.png');
}

.phoneNumber {
    flex: 1.8;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.number {
    border: 1px black solid;
    border-radius: 20px;
    height: 45px;
    width: 195px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.menu {
    display: flex;
    flex: 1;
    flex-direction: row;
    font-size: 16px;
    gap: 26px;
    margin-top: 112px;
    color: #241913;
}

.menu div:nth-child(2) {
    margin-top: -5px;
    min-width: 100px;
    font-size: 20px;
    font-weight: bold;
}

.firstLogo {
    flex: 1;
    font-family: 'Benzin-Bold';
    color: #241913;
    font-size: 80px;
}

.header2 {
    display: grid;
    grid-template-columns: 1004fr 416fr;
    padding-left: 325px;
    padding-right: 325px;
    height: 402px;
    background-color: var(--second-color);
    position: relative;
    overflow: visible;
}

.leftHeader2 {
    position: relative;
    z-index: 1;
}

.rigthHeader2 {
    position: relative;
    display: flex;
    flex-direction: column;
}

.catDogWrapper {
    position: absolute;
    right: -120px;
    top: -40px;
    height: 115%;
    display: flex;
    align-items: flex-start;
}

.catDogImage {
    height: 100%;
    width: auto;
    object-fit: contain;
    display: block;
}

.secondLogo {
    flex: 1;
    font-size: 80px;
    font-family: 'Benzin-Bold';
}

.buttonAndAbout {
    display: flex;
    margin-top: 1.9%;
    flex: 1;
}

.buttonMakeAppo {
    display: flex;
    min-width: 200px;
    min-height: 62px;
    background-color: var(--button-color);
    align-items: center;
    justify-content: center;
}

.about {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: auto auto;
    font-size: 13px;
}

.play {
    grid-row: span 2;
    background-image: url('../images/play.png');
    background-repeat: no-repeat;
    background-position: center;
}

.aboutText {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.aboutTime {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: gray;
}

.achievements {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1.18ыfr 1fr;
    max-width: 541px;
    gap: 0px 34px;
}

.achievements div:nth-child(-n+3) {
    font-size: 30px;
    font-family: 'Benzin-Bold';
    display: flex;
    align-items: flex-end;
}

.achievements div:nth-last-child(-n+3) {
    display: flex;
    font-size: 12px;
    color: var(--second-font-color);
}


main {
    background-color: var(--main-color);
    padding-left: 325px;
    padding-right: 325px;
    padding-top: 65px;
}

.photoAndInfoCenter {
    display: grid;
    grid-template-columns: 1.8fr 1fr;
    grid-template-rows: 2fr 5.2fr 1fr;
    gap: 37px 33px;
}

.photoAndInfoName {
    display: flex;
    font-family: 'Benzin-Bold';
    font-size: 60px;
    grid-column: span 2;
    align-items: flex-end;
}

.photoCenter {
    grid-row: span 2;
    border-radius: 14px;
    background-image: url('../images/centerPhoto.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 800px;
}

.infoCenter {
    font-size: 15px;
    line-height: 1.6;
}

.centerButton {
    display: flex;
    max-width: 200px;
    min-height: 62px;
    background-color: var(--button-color);
    align-items: center;
    justify-content: center;
}

.switchImage {
    display: flex;
    height: 100%;
    margin: -18px;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
    align-self: start;
}

.switchImage div:nth-child(-n+3) {
    height: 7px;
    width: 77px;
    border-radius: 83px;
    background-color: var(--button-color);
}

.switchImage div:nth-child(-n+3):hover {
    background-color: var(--second-color);
}

.departmentsText {
    margin-top: 120px;
}

.departmentsBox {
    margin-top: 33px;
    display: flex;
    flex-direction: row;
    gap: 33px
}

.departmentLocation {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 14px;
}

.mainDepartment {
    display: flex;
    flex:1;
    flex-direction: column;
    background-color: var(--button-color);
    max-height: 129px;
    border-radius: 13px;
    padding: 14px;
    gap: 22px
}

.numberAndTime {
    display: flex;
    font-size: 11px;
    gap: 62px
}

.departName {
    font-size: 17px;
    font-weight: bold;
}

.adress {
    font-size: 14px;
    font-weight: 600;
}

.mapButtons {
    display: flex;
    flex-direction: row;
    gap: 25px
}

.mapButtons div:nth-child(-n+2) {
    display: flex;
    flex: 1;
    background-color: var(--button-color);
    min-height: 45px;
    border-radius: 13px;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
}