<section>
    <div class="logoLion"><img src="images/logo.png" alt=""></div>
    <div class="logoText">VetMajor</div>
    <div class="slogan" data-i18n="footer.slogan">С ЗАБОТОЙ О ЖИЗНИ</div>
    <div class="telegramAndWatsap">
        <div class="telegramFooter"><img src="images/Telegram footer.png" alt=""></div>
        <div class="whatsapFooter"><img src="images/whatsapp-128-svgrepo-com 2.png" alt=""></div>
    </div>
</section>
<section>
    <ul>
        <li data-i18n="footer.section1.title">Прием и консультация</li>
        <li data-i18n="footer.section.vaccination">Вакцинация</li>
        <li data-i18n="footer.section.surgery">Хирургия</li>
        <li data-i18n="footer.section.castration">Кастрация и стерилизация</li>
        <li data-i18n="footer.section.stationary">Стационар</li>
    </ul>
</section>
<section>
    <ul>
    <li><a href="index.html" data-i18n="footer.menu.home">Главная</a></li>
    <li><a href="index.html" data-i18n="footer.menu.clinic">Клиника</a></li>
    <li><a href="services.html" data-i18n="footer.menu.services">Услуги и цены</a></li>
    <li><a href="" data-i18n="footer.menu.articles">Статьи</a></li>
    <li><a href="check-up.html" data-i18n="footer.menu.checkup">Чек-ап</a></li>
    </ul>
</section>
<section>
    <div class="question" data-i18n="footer.question">Остались вопросы? Звоните!</div>
    <div class="numberButton" data-i18n="footer.phone">+7 54 334 99 99</div>
    <div class="mailButton" data-i18n="footer.mail">mail@vetmajor.ru</div>
</section>