<section>
    <div class="logoLion"><img src="images/logo.png" alt=""></div>
    <div class="logoText">VetMajor</div>
    <div class="slogan" data-i18n="footer.slogan">С ЗАБОТОЙ О ЖИЗНИ</div>
    <div class="telegramAndWatsap">
        <div class="telegramFooter"><img src="images/Telegram footer.png" alt=""></div>
        <div class="whatsapFooter"><img src="images/whatsapp-128-svgrepo-com 2.png" alt=""></div>
    </div>
</section>
<section>
    <ul>
        <li data-i18n="footer.section1.title">Прием и консультация</li>
        <li>Вакцинация</li>
        <li>Хирургия</li>
        <li>Кастрация и стерилизация</li>
        <li>Стационар</li>
    </ul>
</section>
<section>
    <ul>
        <li><a href="index.html">Главная</a></li>
        <li><a href="index.html">Клиника</a></li>
        <li><a href="services.html">Услуги и цены</a></li>
        <li><a href="">Статьи</a></li>
        <li><a href="check-up.html">Чек-ап</a></li>
    </ul>
</section>
<section>
    <div class="question">Остались вопросы? Звоните!</div>
    <div class="numberButton">+7 54 334 99 99</div>
    <div class="mailButton">mail@vetmajor.ru</div>
</section>