<div class="header1">
    <div class="leftHeader1">
        <nav class="menu">
            <div><a href="index.html">Главная</a></div>
            <div><a href="index.html">Центр</a></div>
            <div><a href="services.html">Услуги и цены</a></div>
            <div><a href="check-up.html">Чекап</a></div>
            <div><a href="medics.html">Врачи</a></div>
            <div><a href="contacts.html">Контакты</a></div>
        </nav>
        <div class="firstLogo">ВЕТЕРИНАРНЫЙ</div>
    </div>
  <div class="rightHeader1">
    <div class="auth-top" id="authTopBlock">
        <div class="authButtons">
            <a href="login.html" class="authLink">Вход</a>
            <a href="register.html" class="authLink">Регистрация</a>
        </div>
        <div class="userInfo" style="display: none;">
            <span id="authUsername"></span>
            <button id="authLogoutBtn" class="logoutBtn">Выйти</button>
        </div>
    </div>
    <div class="cart-icon">
        <a href="cart.html">🛒</a>
    </div>
    <div class="socialMedias">
        <div class="telegram"><a href="https://t.me/..." target="_blank"></a></div>
        <div class="viber"><a href="viber://chat?number=..."></a></div>
        <div class="avito"><a href="https://www.avito.ru/..."></a></div>
        <div class="gmail"><a href="mailto:..."></a></div>
    </div>
    <div class="phoneNumber">
        <div class="number">+7 918 111 92 34</div>
    </div>
</div>


</div>
<div class="header2">
    <div class="leftHeader2">
        <div class="secondLogo">ЦЕНТР</div>
        <div class="buttonAndAbout">
            <div type="button" class="buttonMakeAppo">Записаться</div>
            <div class="about">
                <div class="play"></div>
                <div class="aboutText">О нас за пару минут</div>
                <div class="aboutTime">2:32</div>
            </div>
        </div>
    </div>
    <div class="rigthHeader2">
        <div class="catDogWrapper">
            <img class="catDogImage" src="images/Собака и кошка.png" alt="Собака и кошка">
        </div>

    </div>


    <div class="achievements">
        <div>7 ЛЕТ</div>
        <div>>500</div>
        <div>90%</div>
        <div>Заботимся о здоровье животных</div>
        <div>Всего вылеченных питомцев</div>
        <div>Клиентов рекомендуют нас</div>
    </div>
</div>